<div class="container">

    <h1>💖 Pick Our Date 💖</h1>

    <input
    id="calendar"
    type="text">

    <br>

    <h2>⏰ Pick a Time</h2>

    <input type="time">

    <br><br>

    <button>Continue ❤️</button>

</div>