<div class="container">

    <h1>💖 Pick Our Date 💖</h1>

    <input
        id="calendar"
        type="text">

    <br><br>

    <h2 class="time-title">
        What time works best?
    </h2>

    <div class="time-options">

        <div class="time-card">
            <div class="time-emoji">☀️</div>
            <p>Morning</p>
        </div>

        <div class="time-card">
            <div class="time-emoji">🌤</div>
            <p>Afternoon</p>
        </div>

        <div class="time-card">
            <div class="time-emoji">🌇</div>
            <p>Evening</p>
        </div>

        <div class="time-card">
            <div class="time-emoji">🌙</div>
            <p>Night</p>
        </div>

    </div>

    <br>

    <button
        class="continue-btn"
        onclick="window.location='/perfect_date/index'">
        Continue ❤️
    </button>

</div>